.orbit-wrapper {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.floating-icon {
  position: absolute;
  animation: floatUpDown infinite ease-in-out;
}

/* Random animation delays & durations */
.floating-icon:nth-child(1) {
  animation-duration: 3s;
  animation-delay: 0s;
  left: -20%;
  top: 70%;
}

.floating-icon:nth-child(2) {
  animation-duration: 2.7s;
  animation-delay: 0.3s;
  left: -10%;
  top: 20%;
}

.floating-icon:nth-child(3) {
  animation-duration: 3.4s;
  animation-delay: 0.6s;
  left: -2%;
  top: 50%;
}

.floating-icon:nth-child(4) {
  animation-duration: 2.9s;
  animation-delay: 0.9s;
  left: 0%;
  top: -30%;
}

.floating-icon:nth-child(5) {
  animation-duration: 3.2s;
  animation-delay: 0.2s;
  left: 45%;
  top: -35%;
}

.floating-icon:nth-child(6) {
  animation-duration: 3.5s;
  animation-delay: 0.8s;
  right: -5%;
  top: 20%;
}

.floating-icon:nth-child(7) {
  animation-duration: 2.8s;
  animation-delay: 0.5s;
  right: -10%;
  top: -10%;
}

.floating-icon:nth-child(8) {
  animation-duration: 3.1s;
  animation-delay: 0.1s;
  right: 0%;
  top: 60%;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-15px);
    opacity: 0.9;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.icon {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1023px) {
  .floating-icon:nth-child(1) {
  animation-duration: 3s;
  animation-delay: 0s;
  left: -15%;
  top: 80%;
}

.floating-icon:nth-child(2) {
  animation-duration: 2.7s;
  animation-delay: 0.3s;
  left: -10%;
  top: 30%;
}

.floating-icon:nth-child(3) {
  animation-duration: 3.4s;
  animation-delay: 0.6s;
  left: 0%;
  top: 55%;
}
  .floating-icon:nth-child(4) {
    animation-duration: 2.9s;
    animation-delay: 0.9s;
    left: 10px;
    top: -20%;
  }
  .floating-icon:nth-child(5) {
    animation-duration: 3.2s;
    animation-delay: 0.2s;
    left: 45%;
    top: -40%;
  }
  .floating-icon:nth-child(6) {
    animation-duration: 3.2s;
    animation-delay: 0.5s;
    left: 75%;
    top: -40%;
  }
  .floating-icon:nth-child(7) {
    animation-duration: 3.2s;
    animation-delay: 0.5s;
    right: 0%;
    top: -3%;
  }
  .floating-icon:nth-child(8) {
    animation-duration: 3.1s;
    animation-delay: 0.1s;
    right: -5%;
    top: 50%;
  }

  .orbit-wrapper {
    position: absolute;
    width: 250px;
    height: 250px;
  }

  .icon {
    width: 36px;
    height: 36px;
  }
}
