.outerWrapper {
  max-width: 1780px;
  background-color: var(--bg-dark-main);
  margin: 0 auto;
}

.dotGrid{
 position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 60px 60px; */
  z-index: -1;
}

.contentSection {
  margin-top: 64px;
  /* height: 100%; */
  padding: 16px;
  /* max-height: calc(100dvh - 64px); */
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  .contentSection {
    /* max-height: calc(100dvh - 128px); */
    padding-bottom: 76px;
  }
}
