.bottomNav {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 64px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px 32px 0 0;
  background: var(--bg-dark);
  backdrop-filter: blur(16px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.navItem {
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #cbd5e1;
  font-size: 11px;
  font-weight: 500;
  transition: 0.3s ease;
  &:focus {
    outline: none;
  }
}

.iconWrapper {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease;
}

.icon {
  font-size: 20px;
  opacity: 0.8;
  transition: 0.3s ease;
}

.label {
  margin-top: 2px;
}

.active {
  color: #fff;
  transform: translateY(-4px);
}

.active .iconWrapper {
  background: var(--gradient-purple);
  transform: translateY(-6px);
  box-shadow: 0 14px 30px var(--gradient-purple-shadow);
}

.active .icon {
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .bottomNav {
    height: 65px;
  }

  .iconWrapper {
    width: 30px;
    height: 30px;
  }

  .icon {
    font-size: 18px;
  }
}


.navbar {
  background: var(--bg-dark);
  backdrop-filter: var(--glass-blur);
  /* border: 1px solid var(--glass-border); */
  z-index: 1000;
  height: 65px;
}

.navLink {
  font-size: 16px;
  transition: 0.3s ease;
  text-decoration: none;
}

.navLink:hover {
  transform: translateY(-2px);
}

.mobileMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(10px);
}

.open {
  max-height: 300px;
}

.mobileLink {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  text-decoration: none;
  transition: 0.3s ease;
}

.mobileLink:hover {
  color: #22c55e;
}
